body{
    background: #333;
    color: #333;
    font: normal 14px "Open Sans";
    font-family: "Open Sans";
    height: 100% !important;
    margin: 0;
    min-height: 264px;
    min-width: 320px;
    padding: 0;
    position: relative;
    text-rendering: optimizeSpeed;
    width: 100% !important;
}


#googlemap{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  overflow: hidden;
  position: fixed !important;
  transition: filter 200ms ease 0s;
}

#content-container {
  position: absolute;
  width: 100% !important;
  height: 100%;
}




/* flight-info-wrapper begin*/

#flight-info-wrapper{
    display: none;
}

.panel-wrapper {
    /*padding: 20px;*/
    position: fixed;
    min-width: 15%;
    max-height: calc(100vh - 6.3rem - 2.7rem);
    top: 6.3rem;
    left: 1rem;
    border-radius: 1rem;
    transition: bottom .5s;
    background: #333;
    animation: showPanel .3s ease-out both;
}

.callsign {
    float: left;
}
.callsign, .network{
  text-align: left;
  color: #f8c023;
  padding: 20px 20px 10px 20px;
}

.network{
    float: right;
}

.logo {
    position: absolute;
    align-self: flex-end;
    top: 34px;
    right: 16px;    
}

.close-panel {
    position: absolute;
    top: 0.5rem;
    z-index: 1;
    right: 0.5rem;
    padding: 0.5rem;    
}

.flight-info-warper > .aircraft-image{
   padding: 0;
   position: relative;
   background: #383838;
   man-height: 18.8em;
   display: flex;
   align-items: flex-start;
   box-shadow: 0 0 0.4em 0 rgba(50,50,50,.1);
}

.flight-info-warper > .aircraft-image > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.3rem;
    background: rgba(0,0,0,0.30);
    color: #fff;
    width: 100%;
}

.flight-info > .orginal{
    position: relative;
    display: flex;
    background: #ededed;
    flex-direction: row;
    width: 50%;
    border-right: 0.2rem solid #fff;
    float: left;
}

.time-info > .departure_time, .time-info > .arrival_time{
    float: left;

    list-style: none;
    padding: 0px;
    margin: 0px;

    position: relative;
    display: flex;
    border-right: 0.2rem solid #fff;
    background: #ededed;
    flex-direction: row;
    width: 50%;
}

.time-info > .departure_time li span:first-child, .time-info > .arrival_time li span:first-child{
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 1;
    display: inline-flex;
    align-self: center;
    color: #6d6d6d;
}

.time-info > .departure_time li, .time-info > .arrival_time li{
    padding: 0.6rem;
    border-top: 0.2rem solid #fff;
    background: #cccaca;
    display: flex;
    justify-content: space-between;
    min-height: 2.2rem;
    box-sizing: border-box;
    width: 100%;
}

.flight-info > .arrival{
    position: relative;
    display: flex;
    background: #ededed;
    flex-direction: row;
    width: 50%;
    border-right: 0.2rem solid #fff;
}

.flight-info > .orginal > ul, .flight-info > .arrival > ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.flight-info > .orginal > ul li{
    width: 100%;
}

.flight-info > .orginal > ul li h2, .flight-info > .arrival > ul li h2{
    margin-left: auto;
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.flight-info > .orginal > ul li h3, .flight-info > .arrival > ul li h3{
    overflow: hidden;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.pnl-component {
    float: none;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    width: inherit;
    min-width: inherit;
    /* padding: 0.9rem 1rem; */
    background: #efeff4;
    flex-shrink: 0;
}
.altitude-chart {
    padding: 1px !important;
    background: #327db6;
}

.top-bar-area > h2 {
    line-height: 17px;
    padding: 4px 20px 4px 20px;
    font-size: 14pt;
    font-weight: 400;
    color: #fff;
    font-family: "Roboto";
    margin-top: 5px;
}

/* flight-info-wrapper end*/
